BasedOnStyle: Google
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '".*"'
    Priority: 4
  - Regex: '<rt/.*\.hh>'
    Priority: 3
  - Regex: '<.*\.hh>'
    Priority: 2
  - Regex: '<.*\.h>'
    Priority: 1
  - Regex: '<.*>'
    Priority: 0
