BasedOnStyle: Google
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Left

SortIncludes: true
IncludeBlocks: Regroup
IncludeIsMainSourceRegex: '$?'
IncludeCategories:
  - Regex: '".*"'
    Priority: 5
  - Regex: '<rt/.*\.hh>'
    Priority: 4
  - Regex: '<.*\.hh>'
    Priority: 3
  - Regex: '<.*\.h>'
    Priority: 2
  - Regex: '<.*>'
    Priority: 1
